<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict/>
	<dict/>
	<dict>
		<key>PaintImage_0.png</key>
		<string>3dStreetPainting/1_Dies_Irae.jpg</string>
		<key>PaintImage_1.png</key>
		<string>3dStreetPainting/2_Muses.jpg</string>
		<key>PaintImage_2.png</key>
		<string>3dStreetPainting/3_Cocito.jpg</string>
		<key>PaintImage_3.png</key>
		<string>3dStreetPainting/4_Reflections.jpg</string>
		<key>PaintImage_4.png</key>
		<string>3dStreetPainting/5_Sky_Woman.jpg</string>
		<key>PaintImage_5.png</key>
		<string>3dStreetPainting/6_Wild_Rodeo.jpg</string>
		<key>PaintImage_6.png</key>
		<string>3dStreetPainting/7_Milagro.jpg</string>
		<key>PaintImage_7.png</key>
		<string>3dStreetPainting/8_Office_Stress.jpg</string>
		<key>PaintImage_8.png</key>
		<string>3dStreetPainting/9_Gluttony.jpg</string>
		<key>PaintImage_9.png</key>
		<string>3dStreetPainting/10_Ghetto.jpg</string>
		<key>PaintImage_10.png</key>
		<string>3dStreetPainting/11_Times_Square.jpg</string>
		<key>PaintImage_11.png</key>
		<string>3dStreetPainting/12_Spirit_of_Water.jpg</string>
		<key>PaintImage_12.png</key>
		<string>3dStreetPainting/13_Perseus.jpg</string>
		<key>PaintImage_13.png</key>
		<string>3dStreetPainting/14_Babel.jpg</string>
		<key>PaintImage_14.png</key>
		<string>3dStreetPainting/15_Giant.jpg</string>
		<key>PaintImage_15.png</key>
		<string>3dStreetPainting/b1_Apollo.jpg</string>
		<key>PaintImage_16.png</key>
		<string>3dStreetPainting/b2_Aida.jpg</string>
		<key>PaintImage_17.png</key>
		<string>3dStreetPainting/b3_Acteon.jpg</string>
		<key>PaintImage_18.png</key>
		<string>3dStreetPainting/b4_Last_Judgement.jpg</string>
		<key>PaintImage_19.png</key>
		<string>3dStreetPainting/b5_Mermaids.jpg</string>
		<key>PaintImage_20.png</key>
		<string>3dStreetPainting/b6_Zoroaster.jpg</string>
		<key>PaintImage_21.png</key>
		<string>3dStreetPainting/b7_St.Anthony.jpg</string>
		<key>PaintImage_22.png</key>
		<string>3dStreetPainting/b8_Triumph_of_Puck.jpg</string>
		<key>PaintImage_23.png</key>
		<string>3dStreetPainting/b9_Ceres_banquet.jpg</string>
		<key>PaintImage_24.png</key>
		<string>3dStreetPainting/b10_Crawfish_Festival.jpg</string>
		<key>PaintImage_25.png</key>
		<string>3dStreetPainting/b11_The_Tempest.jpg</string>
		<key>PaintImage_26.png</key>
		<string>3dStreetPainting/b12_Echo_&amp;_Narcissus.jpg</string>
		<key>PaintImage_27.png</key>
		<string>3dStreetPainting/b13_Theater.jpg</string>
		<key>PaintImage_28.png</key>
		<string>3dStreetPainting/b14_Danae.jpg</string>
		<key>PaintImage_29.png</key>
		<string>3dStreetPainting/b15_Neptune.jpg</string>
	</dict>
	<dict/>
	<dict/>
	<dict/>
</array>
</plist>
