<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>255,255,255</string>
	<string>244,146,30</string>
	<string>133,133,133</string>
	<string>197,210,219</string>
	<string>62,107,133</string>
	<string>77,139,77</string>
	<string>252,194,64</string>
	<string>191,75,49</string>
	<string>75,57,41</string>
	<string>206,214,180</string>
	<string>199,183,115</string>
	<string>227,219,154</string>
	<string>245,252,208</string>
	<string>177,194,179</string>
	<string>119,134,145</string>
	<string>99,85,83</string>
	<string>137,147,163</string>
	<string>81,83,86</string>
	<string>132,137,115</string>
	<string>158,163,145</string>
</array>
</plist>
